################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Arkanoid/v14
/bin/Debug
/obj/Debug
